@font-face {
    font-family: 'english-cursive';
    src: url('../fonts/e111viva.ttf') format('truetype');
}

@font-face {
    font-family: 'remboy';
    src: url('../fonts/Remboy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ostrich-sans';
    src: url('../fonts/OstrichSans-Medium.otf') format('opentype');
}

:root {
    --color1: #0d1b2a;
    --color2: #0f1d2d;
    --color3: #121f30;
    --color4: #142134;
    --color5: #172337;
    --color6: #1b283d;
    --color7: #202d43;
    --color8: #243249;
    --color9: #2b3c54;
    --color10: #324560;
    --color11: #3a506b;
    --color12: #415a77;

    --background: linear-gradient(to right bottom, var(--color1), var(--color2), var(--color3), var(--color4), var(--color5), var(--color6), var(--color7), var(--color8), var(--color9), var(--color10), var(--color11), var(--color12));
    --highlight: #FFAF45;

    --palette1: #0d1b2a;
    --palette2: #1b263b;
    --palette3: #1b263b;
    --pallete4: #778da9;
    --palette5: #e0e1dd;
}

body {
    margin-top: 20px;
    background-image: var(--background);
    color: var(--pallete4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
}
header {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 30px;
    margin-bottom: 10%;
    margin-top: 5%;
}

header h1 {
    font-size: 200px;
    margin-bottom: 5px;
    font-family: 'remboy';
}

header h2 {
    margin-left: 100px;
    font-size: 50px;
    font-family: 'ostrich-sans';
}

header h1 span {
    color: var(--highlight);
}

.wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 5%;
    background: transparent;
}

.search-bar {
    text-align: center;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.search-bar form {
    margin: 5px;
    margin-top: 1%;
}

.search-bar label {
    margin: 5px;
}

input[type = "text"] {
    border: none;
    border-radius: 50%; 
    color: var(--palette5);
    font-family: Montserrat;
    font-size: 16px;
    outline: none;
    padding: 10px; 
    background-color: var(--pallete4);
    transition: width 0.3s ease, padding 0.3s ease, border-radius 0.3s ease; 
    width: 40px; 
    height: 40px; 
    box-sizing: border-box; 
}

input[type = "text"]::placeholder {
    color: var(--palette5);
}

input[type = "text"]:not(:focus):placeholder-shown {
    background-image: url(../images/magnify.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: transparent;
}

input[type = "text"]:not(:focus)::placeholder {
    color: transparent;
}

input[type="text"]:focus {
    width: 200px; 
    padding: 10px 20px; 
    border-radius: 30px; 
}

#read-filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid var(--palette4);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    background-color: var(--pallete4); 
    transition: background-color 0.7s, border-color 0.7s;
}

input[type="radio"]::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--palette1); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.7s;
}

input[type="radio"]:checked {
    background-color: var(--palette5); 
    border-color: var(--palette4); 
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

input[type="radio"]:checked::after {
    transform: translate(-50%, -50%) scale(1);
}

input[type="radio"]:focus {
    outline: none;
}

input[type = "radio"]:first-of-type {
    margin-left: 10px;
}

select {
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    font-family: Montserrat;
    border: none;
    background-color: var(--pallete4);
    color: var(--palette1);
}

.user-results {
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    box-sizing: border-box;
    max-width: 900px;
    padding: 2%;
    justify-content: center;
    background: transparent;
}

.user-card {
    width: 145px;
    height: 225px;
    font-size: 80%;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--palette1);
    pointer-events: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    overflow: hidden;
    transition: all 0.4s ease;
}

.user-card:hover {
    transform: scale(1.14);
    z-index: 5;
}   

.user-card:hover button {
    background-color: transparent;
    color: var(--highlight);
    font-size: 18px;
    transition: all 0.4s ease;
}

.card-content {
    width: 101%;
    height: 101%;
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
    padding: 10px;
    transform: scale(0);
    color: var(--highlight);
}

.user-card:hover .card-content {
    opacity: 0.9;
    background-color: transparent;
    z-index: 10;
    transform: scale (1);
    transition: all 0.3s ease;
}

.top-info, .bottom-info, .isbn {
    text-align: center;
    margin: 5px;
    color: var(--highlight);
}

.close {
    position: absolute;
    right: 15px;
    top: 15px
}

.close button {
    border: none;
    color: var(--highlight);
    background-color: transparent;
    transition: all 0.4s ease;
}

.close button:hover {
    cursor: pointer;
    background-color: transparent;
}

.add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: var(--highlight);
}

.plus {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
    color: var(--pallete4);
}

.add-card:hover {
    cursor: pointer;
    color: var(--highlight);
}

.add-card:hover .plus {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
    color: var(--highlight);
}

.user-card:not(.add-card) {
    position: relative;
}

.user-card:not(.add-card)::before, .user-card:not(.add-card)::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--palette1);
    transition: all 0.4s;
}

.user-card:not(.add-card)::before {
    top: 0;
    right: 0;
    border-radius: 0 5px 0 100%;
}

.user-card:not(.add-card)::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 5px;
}

.user-card:not(.add-card):hover::before, .user-card:not(.add-card):hover::after {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.5s;
}

.user-card:hover .card-content {
    color: var(--highlight);
    opacity: 1;
    transform: scale(0.9);
    z-index: 10;    
}

.plus {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
    color: var(--highlight);
}

.avatar {
    width: 100%;
    height: 100%;
}

.info {
    margin: 5px;
}

.has-read {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sort-form {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .user-card {
        width: 124px;
        height: 180px;
        font-size: 12px;
        margin: 10px;
        border-radius: 5px;
        transition: all 0.4s ease;
        background-color: var(--background);
        position: relative;
    }
    #read-filter {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input[type = "radio"] {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        transform: scale(1.5);
    }
    .avatar {
        width: 100%;
    }
    .search-bar{
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search-bar input{
        font-size: 18px;
        width: 55%;
        background-size: 14px;
    }
    .close{
        right: 10px;
        top: 10px;
    }
    .plus{
        font-size: 50px;
    }
    .read-filter{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 459px) {
    .user-card{
        width:93px;
        height: 140px ;
        font-size: 10px;
        margin: 10px;
        border-radius: 5px;
        transition: all .4s ease;
        background-color: var(--background);
        position: relative;
    }
    .user-card:hover {
		transform:scale(1.44);
		height: 160px;
		transition: all .4s ease;
		justify-content: center;
		align-items: center;
		z-index: 5;
    }
    .avatar{
        width: 100%;
    }
    .search-bar input{
        font-size: 18px;
        width: 55%;
        background-size: 14px;
    }
    .close{
        right: 10px;
        top: 10px;
    }
    .plus{
        font-size: 40px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color12);
}

::-webkit-scrollbar-thumb {
    background: var(--pallete4);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color10);
}